Django>=5.2.8,<5.3
djangorestframework>=3.17.1,<3.18
django-extensions>=4.1,<5.0
drf-spectacular>=0.30.0,<0.31
Pillow>=12.3.0,<13.0
psycopg[binary,pool]>=3.3,<3.4
django-storages>=1.14.6,<1.15
PyJWT>=2.13.0,<3.0
cryptography>=49.0.0,<50.0